{% extends "base.html" %}

{% block content %}
<div class="container">
	{% include '_nav.html' %}
	{% include '_header.html' %}
	<h3 class="menu-title">About</h3>
	<div class="row">
	    <div class="col-md">
	      <h5>Introduction</h5>
	      <p class="about-text">
	      	Welcome to the <span>Philosophy API</span>
	      </p>
	      <p class="about-text">
	      	Philosophy API brings data resources on Philosophy and Ideas.
	      </p>
	      <p class="about-text">
	      	You can explore the greatest human thinkers, ideas, books and schools of thought.
	      </p>
	      <h5>The Purpose</h5>
	      <p class="about-text">
        	The idea of the Philosophy API project is to provide a service that provides concise data about the World of Philosophy and a simple way to interact with the data and integrate it into your application.
     	  </p>
     	  <p class="about-text">
       	    The data is available in <a href="https://www.json.org/json-en.html">JSON format</a> and is exposed through a REST implementation that allows you to collect the data programmatically using any programming language or some other specialized tool.
          </p>
          <h5>Main Features</h5>
          <p class="about-text">
          	We are using technologies like <a href="https://www.djangoproject.com/">Django</a> and <a href="https://www.django-rest-framework.org/">Django REST framework</a> to offer you quality and cool features like <span>Pagination</span> and <span>Search Filter</span>
          </p>
          <h5>Contribution</h5>
          <p class="about-text">
          	The project is completely <a href="https://github.com/the-akira/PhilosophyAPI">open-source</a> and you can contribute to this project in several ways and I will be very grateful to you:
          </p>
	      <ul class="about-list">
	      	<li>Help to improve the data models</li>
	      	<li>Share the project in some place</li>
	      	<li>Use it to create an application for you</li>
	      	<li>Provide more data for the project</li>
	      	<li>Donate any small amount of Satoshi to the address: <span>1FdGuC2FiCM6nJs9SW4Lek4D4YuRNRKvrk</span></li>
	      </ul>
	    </div>
  	</div>
  	{% include '_footer.html' %}
</div>
{% endblock content %}