body {
  background-color: #e0dfda;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center left, center right;
}

.container {
  background-color: #fff;
  min-height: 100vh;
  height: 100%;
  width: 80%;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.navigation {
  display: flex;
  padding-top: 25px;
  padding-left: 0px;
  justify-content: center;
}

.navigation > li {
  margin-right: 15px;
  list-style-type: none;
  font-size: 1.2rem;
  text-decoration: underline;
}

.navigation > li > a {
  color: #424a4f;
  font-size: 1.2rem;
  text-decoration: underline;
}

.navigation > li > a:hover {
  color: #7A4F59;
  font-size: 1.2rem;
  text-decoration: underline;
}

.main-title {
  font-family: 'Crafty Girls', cursive;	
  color: #424a4f;
  text-align: center;
  font-weight: bold;
  margin-top: 35px;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 5px solid #424a4f;
}

.menu-title {
  font-family: 'Crafty Girls', cursive;	
  color: #424a4f;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;	
}

.row {
  margin-top: 45px;
}

.col-md {
  border: 2px solid #424a4f;	
  text-align: center;
  margin: 10px 15px 10px 15px;
  padding: 15px;
  border-radius: 7px;
  background-color: #e0dfda;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.7);
}

.col-md > h4 {
  color: #424a4f;
  font-family: 'Crafty Girls', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.col-md-10 {
  border: 2px solid #424a4f;  
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  border-radius: 7px;
  background-color: #e0dfda;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.7);
}

i {
  color: #7A4F59;
}

i:hover {
  opacity: 0.8;
}

footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  width: 70%;
  color: #424a4f;
  text-align: center;
  overflow: hidden;
  background-color: #e0dfda;
  padding: 15px;
  border: 2px solid #424a4f;
  border-radius: 7px;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.7);
}

footer > h4 {
  margin-bottom: 0;
  margin-top: 6px;
  font-family: 'Crafty Girls', cursive;
  font-size: 1.08rem;
  font-weight: bold;
}

h5 {
  font-family: 'Crafty Girls', cursive;
  font-size: 1.44rem;
  color: #424a4f;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: left;
  font-weight: bold;
}

.about-text {
  padding: 5px;
  color: #424a4f;
  text-align: justify;
  margin-bottom: 0;
}

.about-list {
  text-align: left;
  color: #424a4f;
  margin-bottom: 0;
}

.icon {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}

a {
  color: #7A4F59;
  font-weight: bold;
}

a:hover {
  color: #7A4F59;
}

span {
  background-color: #fff;
  padding: 1.4px;
  border-radius: 4px;
  border: 1px solid #7A4F59;
}

.col-md-8 {
  color: #424a4f;
}

pre > code {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #000;
  background-color: #f5f5f5;
  border: 1px solid black;
  border-radius: 4px;
  overflow: auto;
}

code {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #000;
  background-color: #f5f5f5;
  border: 1px solid black;
  border-radius: 4px;
  overflow: auto;	
}

.list-group-item {
  padding: 0 !important;
  background-color: white !important;
  border: none !important;
}

.list-group-item > a {
  color: #7A4F59;
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: 4px;
  background-color: #f5f5f5;
  border: 2px solid #424a4f !important;
  border-radius: 4px;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;;
  border-top-right-radius: 4px;;
}

.list-group-item:last-child {
  border-bottom-right-radius: 4px;;
  border-bottom-left-radius: 4px;;
}

.menu-doc-title {
  font-family: 'Crafty Girls', cursive;	
  color: #424a4f;
  text-align: center;
  font-weight: bold;	
  margin-top: 10px;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 99; 
  border: 2px solid #424a4f; 
  border-radius: 4px;
  outline: none; 
  background-color: #f5f5f5; 
  color: #7A4F59; 
  cursor: pointer; 
  padding: 10px; 
  font-size: 18px; 
}

@media only screen and (max-width: 575px) {
  .container {
    border-right: none;
    border-left: none;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    width: 100%;
  }
  .navigation {
    flex-direction: column;
    align-items: center;
  }
  footer {
    width: 93%;
  }
}

@media only screen and (max-width: 767px) {
  .col-md-10 {
    border: none;  
    text-align: center;
    margin: 0 auto;
    padding: 0px 25px 0px 25px;
    border-radius: 0px;
    background-color: white;
    box-shadow: none;
  }
}